.Content_Width {
    width: 50%;
    margin: auto;
    font: 400 14px Nunito Sans, sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Helvetica Neue;
    line-height: 1.5;

}

img {
    width: 100%;
    height: 300px;
}

a {
    text-decoration: none;
    color: blue;
}

blockquote {
    border-left: 5px solid #cccbff;
    margin: 1.5em .5em;
    padding: 1px 20px 16px;
    background-color: rgb(228, 228, 228)
}

.Advert {
    text-align: center;

}

button {
    background-color: blue;
    padding: 2%;
    color: white;
    border: none;
    text-align: center;
    border-radius: 8px;

}

#Mini_pics {
    height: 139px;
    width: 139px;
    float: left;

}

.Text_right {
    margin-left: 35%;
}

#second_pic {
    font-weight: 600;
    font-family: Nunito Sans;
    font-size: 24px;
    margin: 10px 0px;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

#Nav_Bar {
    display: block;
    text-decoration: none;
    background-color: white;
    list-style-type: none;
    overflow: hidden;
    margin: 0%;
    padding: 0%;
    border-bottom: 1px solid rgb(215, 215, 215);
}

#Nav_Bar a:hover {
    background-color: rgb(215, 215, 215)
}



#Line_items {
    float: left;
    padding: 2%;


}

#Line_items_right {
    float: right;
    padding: 2%;

}

#Line_items a:hover {
    background-color: rgb(212, 212, 212);

}

#Header_button {
    background-color: rgb(85 83 255);
    padding: 1.5%;
    color: white;
    border: none;
    text-align: center;
    border-radius: 8px;
    float: right;

}

#Button_right {
    float: right;
}